.btn-title {
    display: inline;
    position: relative;
  }
  
  .btn-title:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: -34px;
    color: #fff;
    content: attr(gloss);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200px;
  }
  
  .btn-title:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
  }